# Explorer une base de données

Exerçons nous sur Pandas. Dans le drive, téléchargez le dataset suivant : [chipotle.csv](https://github.com/JedhaBootcamp/FULL_STACK_12_WEEK_PROGRAM/tree/readme_update/S0.1%20--%20Fondamentaux%20Python/S1-3%20--%20Programmation%20Orient%C3%A9e%20Objet%20%26%20Pandas/S1-3B/Datasets)

1. Importez les bonnes librairies

In [1]:
import pandas as pd

2. Importez le dataset

In [4]:
data = pd.read_csv("Datasets/chipotle.csv")

3. Regardez les 10 premières lignes du dataset

In [5]:
data.head()

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

4. Quelle est la taille de notre dataset ?

In [23]:
data.shape

(4622, 6)

5. Affichez toutes les colonnes de notre dataset

In [10]:
data.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

6. Quel est l’item le plus commandé

     *Indice : On utilisera GROUP BY & Sort_values()*

In [34]:
df1 = pd.DataFrame(data)
df2 = df1.groupby("item_name").sum()
df2 = df2.sort_values(by="quantity", ascending=False)
df2

                                       Unnamed: 0  order_id  quantity
item_name
Chicken Bowl                              1779909    713926       761
Chicken Burrito                           1238217    497303       591
Chips and Guacamole                       1121773    449959       506
Steak Burrito                              817795    328437       386
Canned Soft Drink                          759990    304753       351
Chips                                      518704    208004       230
Steak Bowl                                 482721    193752       221
Bottled Water                              439354    175944       211
Chips and Fresh Tomato Salsa               250144    100419       130
Canned Soda                                189915     76396       126
Chicken Salad Bowl                         292292    117104       123
Chicken Soft Tacos                         244891     98395       120
Side of Chips                              211009     84769       110
Veggie Burrito                             201321     80962        97
Barbacoa Burrito                           185979     74718        91
Veggie Bowl                                180046     72270        87
Carnitas Bowl                              156599     62742        71
Barbacoa Bowl                              134264     53972        66
Carnitas Burrito                           128611     51652        60
Steak Soft Tacos                           125012     50177        56
6 Pack Soft Drink                          130318     52322        55
Chips and Tomatillo Red Chili Salsa        113585     45556        50
Chicken Crispy Tacos                       118393     47382        50
Chips and Tomatillo Green Chili Salsa      102435     41170        45
Carnitas Soft Tacos                         93766     37673        40
Steak Crispy Tacos                          89408     35818        36
Chips and Tomatillo-Green Chili Salsa       54211     21826        33
Steak Salad Bowl                            73953     29590        31
Nantucket Nectar                            54403     21814        29
Chips and Tomatillo-Red Chili Salsa         45650     18344        25
Barbacoa Soft Tacos                         46454     18725        25
Chips and Roasted Chili Corn Salsa          37152     14999        23
Izze                                        26280     10587        20
Veggie Salad Bowl                           43124     17303        18
Chips and Roasted Chili-Corn Salsa          43554     17462        18
Barbacoa Crispy Tacos                       13825      5613        12
Barbacoa Salad Bowl                         24161      9708        10
Chicken Salad                               26125     10465         9
Carnitas Crispy Tacos                       14567      5868         8
Veggie Soft Tacos                           13737      5520         8
Burrito                                      3734      1550         6
Veggie Salad                                18164      7265         6
Carnitas Salad Bowl                         16710      6693         6
Bowl                                         1118       472         4
Steak Salad                                  5811      2362         4
Salad                                        2829      1150         2
Crispy Tacos                                 1041       434         2
Chips and Mild Fresh Tomato Salsa             674       279         1
Carnitas Salad                               3750      1500         1
Veggie Crispy Tacos                          1653       668         1

7. Combien d’items ont été commandés au total chez Chipotle

In [36]:
df2["quantity"].sum()
df2.quantity.sum()

4972

8. Combien de chiffre d’affaire à realisé Chipotle ?
      
      A. Convertissez item_price en nombre décimal
        1. Regardez dataset[“item_price”], que voyez vous ?
        2. Trouvons un moyen d’enlever ce $ qui nous gène. Pour cela, on peut utiliser l’objet _.str _([https://bit.ly/2ClcdtN](https://bit.ly/2ClcdtN))
        3. Convertissons maintenant la série en float au lieu de string
        
    B. Multipliez la quantité vendues par le prix de l’item
    
    C. Faites la somme du tout, combien trouvez vous?
    
    D. Arrondissez à deux chiffres après la virgule
    
        1. On pourra utiliser la fonction [np.round()](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.round.html#numpy.ndarray.round)

In [64]:
import numpy as np
df1["item_price2"]=df1["item_price"].str.replace('$', '').astype("float")
df1["total"]=df1["item_price2"]*df1["quantity"]
print(np.round(sum(df1["total"]),2))
#df1.item_price.apply(lambda x: float(x[1:-1]))

39237.02

9. Quel est le revenu moyen par commande ?

In [65]:
df3 = df1.groupby("order_id").sum()
df3.mean()

Unnamed: 0     5822.863141
quantity          2.711014
item_price2      18.811429
total            21.394231
dtype: float64