<a href="https://colab.research.google.com/github/tbazzi/Data-Science---Fullstack-Bootcamp/blob/master/S4_Projet_FraudulentActivity_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import seaborn as sns
import pandas as pd
import numpy as np
#import matplotlib as plt
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
data_fraud = pd.read_csv('/content/drive/My Drive/Fraud_Data_withIP.csv')

In [4]:
data_fraud = data_fraud.drop("Unnamed: 0", axis=1)
data_fraud.head()

   user_id          signup_time        purchase_time  ...  ip_address class country
0    62421  2015-02-16 00:17:05  2015-03-08 10:00:39  ...       52093     0      -1
1   173212  2015-03-08 04:03:22  2015-03-20 17:23:45  ...       93447     0      -1
2   242286  2015-05-17 16:45:54  2015-05-26 08:54:34  ...      105818     0      -1
3   370003  2015-03-03 19:58:39  2015-05-28 21:09:13  ...      117566     0      -1
4   119824  2015-03-20 00:31:27  2015-04-05 07:31:46  ...      131423     0      -1

[5 rows x 12 columns]

In [5]:
from datetime import datetime
data_fraud["purchase_time"] = data_fraud["purchase_time"].apply(lambda x: int(datetime.timestamp(datetime.strptime(str(x),'%Y-%m-%d %H:%M:%S'))))
data_fraud["signup_time"] = data_fraud["signup_time"].apply(lambda x: int(datetime.timestamp(datetime.strptime(str(x),'%Y-%m-%d %H:%M:%S'))))
#data_fraud["time"] = datetime.timestamp(datetime.strptime(str(data_fraud["purchase_time"]),'%Y-%m-%d %H:%M:%S'))-datetime.timestamp(datetime.strptime(str(data_fraud["signup_time"]),'%Y-%m-%d %H:%M:%S'))
data_fraud.head()

   user_id  signup_time  purchase_time  ...  ip_address class country
0    62421   1424045825     1425808839  ...       52093     0      -1
1   173212   1425787402     1426872225  ...       93447     0      -1
2   242286   1431881154     1432630474  ...      105818     0      -1
3   370003   1425412719     1432847353  ...      117566     0      -1
4   119824   1426811487     1428219106  ...      131423     0      -1

[5 rows x 12 columns]

In [7]:
data_fraud["time"] = 1/(data_fraud["purchase_time"]-data_fraud["signup_time"])
data_fraud.head()

   user_id  signup_time  purchase_time  ...  class country          time
0    62421   1424045825     1425808839  ...      0      -1  5.672105e-07
1   173212   1425787402     1426872225  ...      0      -1  9.218094e-07
2   242286   1431881154     1432630474  ...      0      -1  1.334543e-06
3   370003   1425412719     1432847353  ...      0      -1  1.345056e-07
4   119824   1426811487     1428219106  ...      0      -1  7.104195e-07

[5 rows x 13 columns]

In [16]:
data_fraud = data_fraud.drop("signup_time", axis=1)
data_fraud = data_fraud.drop("purchase_time", axis=1)
data_fraud = data_fraud.drop("ip_address", axis=1)
data_fraud.head()

   user_id  purchase_value      device_id  ... class country          time
0    62421              46  ZCLZTAJPCRAQX  ...     0      -1  5.672105e-07
1   173212              33  YFGYOALADBHLT  ...     0      -1  9.218094e-07
2   242286              33  QZNVQTUITFTHH  ...     0      -1  1.334543e-06
3   370003              33  PIBUQMBIELMMG  ...     0      -1  1.345056e-07
4   119824              55  WFIIFCPIOGMHT  ...     0      -1  7.104195e-07

[5 rows x 10 columns]

#Visualisation

In [18]:
data_grouped_device = pd.DataFrame(data_fraud.groupby(["device_id", "class"]).size().reset_index(name='count'))
data_grouped_device = data_grouped_device[data_grouped_device["class"] == 1]
data_grouped_device

            device_id  class  count
4       AAAXXOZJRZRAO      1     10
24      AADGMPYOPXXCX      1      1
35      AAEWGRKQJJMVI      1      1
63      AAIEIZJZIKDLN      1      1
76      AAJCSUCPHKORJ      1      1
103     AAMSWOQZIJJZC      1      1
107     AANHQRSKUCHIC      1      1
118     AANYBGQSWHRTK      1      7
219     AAZUUOLAYSABO      1      1
260     ABFISLUJSKDJZ      1      1
276     ABIIQKPVAMVCF      1      1
286     ABKAIUQAWSINO      1      1
295     ABLFNXIEQFQBS      1      1
315     ABOQRULSUHSNB      1      1
328     ABPUJBFONNGQL      1      1
330     ABPUTDOGTTISP      1      1
362     ABUBCQDATQMQH      1      1
388     ABWSNQWGCFARL      1      1
392     ABXCTAAMAQVQQ      1      1
400     ABXVQZTJLNBOL      1      1
415     ABZLCSSKFHMPS      1      1
470     ACGVKHHMZJXJZ      1      1
472     ACGWTULSYTYPD      1      1
484     ACILIKRBAROZM      1      1
486     ACINFPOJYYUAW      1      1
496     ACJRMIXWJGJBE      1      1
528     ACMYIXBMFJWYG      1      1
540     ACOQQEAEZNOPJ      1      1
543     ACOUCKDVBQPQZ      1      1
581     ACTAYUHPHHGVU      1      1
...               ...    ...    ...
140163  ZXOFRFJTDLETI      1      4
140179  ZXQJJCGSXIGQG      1      1
140204  ZXTNWNPLOJPKB      1      1
140214  ZXVZLOXRZNNEH      1      1
140254  ZYBNMUSRNQUXG      1      1
140265  ZYCPFNOCKWOFM      1      1
140284  ZYGJWKAWPENFC      1     10
140299  ZYHVSPGHWACPO      1      5
140326  ZYKQWIDOKNKMW      1      2
140335  ZYLZFBSKFVSCH      1      1
140340  ZYMXZWWYQBHMB      1      1
140358  ZYPCCBNIVLCNK      1      1
140361  ZYPKBBYHNPZDI      1      2
140370  ZYQRUZSBDXPGH      1      1
140386  ZYSRNDGJPRZYX      1      1
140387  ZYTAPFMCHDVMG      1      1
140404  ZYUSBCEWTYHFZ      1      1
140411  ZYVERZMUYSGPI      1      1
140425  ZYWQXVAHZSTYS      1      1
140430  ZYXLUCXWSHAMR      1      1
140454  ZYZQZXBXADPST      1     15
140459  ZYZVITOSNSQTN      1      1
140471  ZZCAWCKYVMWNH      1      8
140492  ZZFFPOVMCQVCG      1      6
140511  ZZHQSPRTPEPHI      1      1
140527  ZZJGHWLIVVIIS      1      1
140553  ZZMFOPGWVVSHV      1      1
140576  ZZQBRNNATFEIW      1      1
140582  ZZQPVRBHRMVYD      1     11
140602  ZZUBRTQITHWAO      1      1

[6987 rows x 3 columns]

In [0]:
data_grouped_coun = pd.DataFrame(data_fraud.groupby(["country","class"]).size().reset_index(name='count'))
data_grouped_coun = data_grouped_coun[data_grouped_coun["class"] == 1]
sns.distplot(data_grouped_coun["country"], bins = 20 )

In [0]:
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
#X = data_fraud[["user_id", "purchase_value", "device_id", "source", "browser", "sex", "age", "country", "time"]]
X = data_fraud[[ "purchase_value", "source", "browser", "sex", "age", "country", "time"]]
X = sc_x.fit_transform(X)
est = KBinsDiscretizer(n_bins=3, encode='ordinal', strategy='quantile')
est.fit(X)