<a href="https://colab.research.google.com/github/tbazzi/Data-Science---Fullstack-Bootcamp/blob/master/S9_1_Azure_Interagir_avec_les_bases_de_donne%CC%81es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [1]:
import pandas as pd
import sqlalchemy
import psycopg2

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

# Creér la connexion

In [0]:
# Update connection string information obtained from the portal


dbname='postgres' 
user='admintb@postgretb' 
host='postgretb.postgres.database.azure.com'
password='*' 
port='5432' 
sslmode='require'

# Construct connection string
conn_string = "host={0} user={1} dbname={2} password={3} sslmode={4}".format(host, user, dbname, password, sslmode)

conn = psycopg2.connect(conn_string) 

#------------------------------------------

In [31]:
data = [
    {"Col1": 1, "Col2": "A"},
    {"Col1": 2, "Col2": "B"},
    {"Col1": 3, "Col2": "C"}
]

df_test = pd.DataFrame(data)
df_test

   Col1 Col2
0     1    A
1     2    B
2     3    C

# Charger des données

In [28]:
conn.

In [0]:
connexion_string = "postgresql://{0}:{1}@{2}/{3}".format(user, password, host, dbname)
engine = sqlalchemy.create_engine(connexion_string)
engine.connect()
df_test.to_sql("table_1", engine, index=False, if_exists="replace")

# Récupérer des données

In [34]:
df_test = pd.read_sql("SELECT * FROM table_1", engine)
df_test

   Col1 Col2
0     1    A
1     2    B
2     3    C

# Ressources

In [0]:
print("Doc Microsoft pour Azure Postgres : ")

print("https://docs.microsoft.com/fr-fr/azure/postgresql/quickstart-create-server-database-portal")

Doc Microsoft pour Azure Postgres :
https://docs.microsoft.com/fr-fr/azure/postgresql/quickstart-create-server-database-portal

In [0]:
print("Commande de connexion depuis la console Azure : ")

print("psql --host=bddserverstudent.postgres.database.azure.com --port=5432 --username=jedha@bddserverstudent --dbname=postgres")

Commande de connexion depuis la console :
psql --host=bddserverstudent.postgres.database.azure.com --port=5432 --username=jedha@bddserverstudent --dbname=postgres

In [0]:
psql --host=bddserverstudent.postgres.database.azure.com --port=5432 --username=admission@bddserverstudent --dbname=postgres